<p-toast></p-toast>
<h1 class="mb-4">Perfiles de usuario</h1>
<button pButton pRipple label="Crear perfil" class="min-w-min mx-3 w-3" (click)="mostrarCrear()"></button>
<p-table [value]="perfiles" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
    [rowsPerPageOptions]="[10,25,50]" dataKey="codPerfil" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Código perfil</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-perfil let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="perfil">
            <td class="text-right">{{ ri + 1 }}</td>
            <td class="text-right">{{ perfil.codPerfil }}</td>
            <td class="text-right">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText [(ngModel)]="perfil.nombre" type="text">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{perfil.nombre}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td class="text-right">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText [(ngModel)]="perfil.descripcion" type="text">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{perfil.descripcion}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td class="text-right">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText [(ngModel)]="perfil.estado" type="text">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{perfil.estado}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <div class="flex">
                    <button (click)="editar(perfil)" *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                        icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                    <button (click)="eliminar(perfil)" *ngIf="!editing && perfil.estado !== 'INA'" pButton pRipple
                        type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
                    <button (click)="guardarCambios(perfil)" *ngIf="editing" pButton pRipple type="button"
                        pSaveEditableRow icon="pi pi-check"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button (click)="cancelarCambios(perfil,ri)" *ngIf="editing" pButton pRipple type="button"
                        pCancelEditableRow icon="pi pi-times"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <p>No se han encontrado registros con los parámetros indicados.</p>
    </ng-template>
</p-table>
<p-dialog header="Crear un proyecto" [(visible)]="displayLoad" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '60vw'}" [draggable]="true" [resizable]="false">
    <form novalidate>
        <div class="p-fluid">
            <div class="field mt-2 px-4">
                <div class="flex flex-column">
                    <div class="grid p-fluid mt-2">
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Código perfil: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText placeholder="Código perfil" required [(ngModel)]="codPerfil"
                                name="codPerfil">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Nombre: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText placeholder="Nombre" required [(ngModel)]="nombre"
                                name="nombre">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Descripcion: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText placeholder="Descripcion" required [(ngModel)]="descripcion"
                                name="descripcion">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Estado: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [(ngModel)]="estadoSeleccionado" [options]="estados" optionValue="sigla"
                                optionLabel="nombre" name="estadoSeleccionado"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-end">
            <p-button (click)="displayLoad=false" label="Crear" styleClass="p-buttont" (onClick)="crear()">
            </p-button>
            <p-button (click)="displayLoad=false" label="Cancelar" styleClass="p-button-text"></p-button>
        </div>
    </form>
</p-dialog>